@{
    ViewBag.Title = "Index";
}

<h2>My Calendar</h2>

<div id="calendar"></div>


@section scripts
{
    
<script type="text/javascript">

    $("#calendar").fullCalendar({
        defaultView: 'month',
        events: "/Home/GetEvents"
    });

</script>
}

